.footer {
    border-top: 2px solid green;
    width: 100%;
}

.footerInnerContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0px 40px;
}

.footerInnerContainer > div {
    margin-top: 60px
}

.footerNote {
    font-size: 12px;
    margin-top: 0.85em;
    line-height: 1.25;
    display: block;
    cursor: pointer;
}

.footerBottom {
    height: 30px;
    width: 100%;
    background-color: green;
    margin-top: 50px;
}

.companySection {
    max-width: 260px;
    /* margin-right: 40px; */
}

.companySection > * {
    margin: 10px 0px;
}

@media only screen and (max-width: 1000px) {
    .footerInnerContainer {
        display: grid;
        justify-content: unset;
        max-width: 600px;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: auto;
    }

    .companySection {
        display: grid;
        grid-column: span 4;
        text-align: left;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 700px) {
    .footerInnerContainer {
        grid-template-columns: repeat(2, auto);
    }

    .companySection {
        grid-column: span 2;
    }

    .footerInnerContainer > * {
        text-align: center;
    } 
}

@media only screen and (max-width: 450px) {
    .footerInnerContainer {
        grid-template-columns: auto;
    }

    .companySection {
        grid-column: span 1;
    }
}