.infoCardContainer {
    margin: 5px 0px;
    padding: 5px 0px;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.description {
    margin: 10px 0px 12px 0px;
}

.link, .link:active, .link:link {
    color: #06c !important;
}

.link:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.gt {
    color: #06c
}