.link:hover {
    text-decoration: underline;
    text-decoration-color: green;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
}

.link {
    display: inline-block;
    position: relative;
    color: green;
    font-size: 18px;
}
  
.link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #ff9500;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media only screen and (max-width: 950px) {
    .link {font-size: 24px;}
}