.article {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 0px 15px;
}

.textBody {
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.5;
    font-family: sans-serif;
    margin-left: 5px;
}

.backButton {
    font-family: sans-serif;
    background-color: #ff9500;
    font-size: 50px;
    color: white;
    padding: 0px 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 200ms ease-out;
}

.backButton:hover {
    transform: translateX(-1px);
    background-color: rgb(235, 129, 0);
    color: rgb(245,245,245)
}

.tagContainer {
    margin: 30px 0px 40px 0px;
}

.tagContainer > p {
    border-radius: 15px;
    padding: 7px 12px;
    font-family: roboto-medium;
    display: inline-block;
    margin: 3px 5px;
    color: white;
}

.tagContainer > p:nth-child(1) {
    background-color: #008000;
}

.tagContainer > p:nth-child(2) {
    background-color: #ff9500;
}

.tagContainer > p:nth-child(3) {
    background-color: #0d59dd;
}

.tagContainer > p:nth-child(4) {
    background-color: #9a00ee;
}

.tagContainer > p:nth-child(5) {
    background-color: #f30000;
}

@media only screen and (max-width: 800px) {
    .title {
        font-size: 34px;
    }
}

