.contact {
    max-width: 980px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    padding: 30px 0px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 100px;
}

.contact p {
    line-height: 1.4;
}

.bigFont {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 40px;
}

.sectionTop {
    text-align: center;
    margin-bottom: 30px;
}

.sectionMiddle{
    border-top: 1px solid #d2d2d2;
    padding: 30px 20px;
}

.sectionMiddleGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px 50px;
    padding: 0px 20px;
}

.sectionBottom {
    border-top: 1px solid #d2d2d2;
    padding: 35px 20px 30px 20px;
}

@media only screen and (max-width: 680px) {
    .sectionMiddleGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 450px) {
    .sectionMiddleGrid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
}