@font-face { 
	font-family: roboto-medium; 
	src: url("../../public/Roboto-Medium.ttf"); 
} 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1 {
	font-size: 58px;
}

h2 {
	font-size: 42px;
}

html {
	min-height: 100%;
}

a:link, a:visited, a:hover, a:active { 
	text-decoration: none; 
	color: inherit;
}

table, td, th {
	border-collapse: collapse;
	border-right: 5px solid black;
	padding: 15px 35px;
	text-align: center;
}

th {
	padding: 15px 35px 2px 35px;
}

.buttonPrimary, .buttonSecondary, .buttonTertiary {
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
	border: none;
	line-height: 1.7;
	font-size: 1.2rem;
	font-family: roboto-medium;
	transition: all 0.2s ease-out;
	cursor: pointer
}

.buttonPrimary {
	background-color: #ff9500;
	color: #fff;
}

.buttonSecondary {
	background-color: green;
	color: #fff;
}

.buttonTertiary {
	background-color: #fff;
	color: #000;
	border-radius: 0.3rem;
	border: 3px solid #000;
	font-weight: 600;
}

.buttonPrimary:hover, .buttonSecondary:hover, .buttonTertiary:hover {
	transform: translateY(-2px);
}

.pageTitle {
	text-align: center;
	margin-bottom: 50px;
}

@media screen and (max-width: 690px) {
	table {
	  display: block;
	  overflow-x: auto;
	  border: none;
	  padding: 15px;
	}
	
	th, td {
	  display: block;
	  width: 100%;
	  border: none;
	  padding: 5px;
	}
  }