.header {
    display: flex;
    align-content: center;
    background-color: #fff;
    min-height: 100px;
    padding: 0px 40px;
    border-bottom: 2px solid green;
    margin-bottom: 40px;
}

.mainMessageContainer {
    text-align: center;
    margin: 90px 0px 250px 0px ;
}

.mainMessageTitle {
    color: #ff9500;
    margin: 30px 0px;
}

.mainMessageDescription {
    max-width: 500px;
    margin:0 auto;
}

.mainMessageCTAButton {
    margin-top: 30px;
}
