.cardContainer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin-bottom: 160px;
    flex-wrap: wrap;
}

.cardContainer > * {
    margin-top: 40px;
}

.tableContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}

.tableContainer > h2 {
    margin-bottom: 100px;
}

.bigFontBold {
    font-size: 18px;
    font-weight: 700;
}

.smallFont {
    font-size: 12px;
}

.empoweringBrandsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px 0px;
    background-color: green;
    color: #fff;
    padding: 80px 0px 100px 0px;
}

.empoweringBrandsSection > * {
    margin-bottom: 30px;
}

.empoweringBrandsSection img {
    margin: 50px 50px 0px 50px;
}

.brandImagesContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: center;
}

.CTAContainer > button {
    margin-top: 15px;
}

.CTAContainer > p {
    margin-top: 5px;
}

.empowerMessage {
    text-align: center;
}
